.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 85vh;
}

.questionNumber {
  margin-right: auto;
  margin-bottom: auto;
  padding: 10px;
  font-family: "Kanit";
  font-weight: 300;
}

.question {
  font-family: "Kanit";
  font-weight: 700;
  padding: 10px;
  text-transform: capitalize;
  margin-bottom: auto;
  text-align: center;
}

.answer button {
  min-width: 350px;
  min-height: 65px;
}

.containerButton button {
  border-radius: 10px;
  min-width: 65px;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .container img {
    width: 250%;
  }
  .questionNumber {
    font-size: 22px;
    font-weight: 400;
  }
  .question {
    font-size: 26px;
  }
  .answer button {
    font-size: 22px;
    min-width: 650px;
  }
  .containerButton button {
    font-size: 22px;
    min-width: 300px;
  }
}
