.container {
  border: 1px solid red;
  position: relative;
  overflow: hidden;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container img {
  position: absolute;
  z-index: -1;
}

.container span {
  font-family: "Kanit";
  font-size: 30px;
}

.container h2 {
  font-family: "Kanit";
  margin: 10px 20px;
}

.container button {
  padding: 10px 20px;
}
