.container {
  position: relative;
  overflow: hidden;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.container img {
  position: absolute;
  z-index: -1;
}

.container span {
  font-family: "Kanit";
  font-size: 30px;
  text-align: center;
}

.container h2 {
  font-family: "Kanit";
  margin: 10px 20px;
}

.container button a {
  padding: 10px 20px;
}

.container button:hover {
  opacity: 0.8;
}

@media only screen and (min-width: 768px) {
  .container img {
    width: 250%;
  }
  .container span {
    font-size: 60px;
  }
  .container h2 {
    font-size: 36px;
  }
  .container button a {
    font-size: 36px;
  }
}
