.container {
  border: 1px solid red;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.container img {
  position: absolute;
  z-index: -1;
  height: 100%;
}

.container h1 {
  font-family: "Nabla";
  font-size: 60px;
}

.container p {
  font-size: 14x;
  margin: 10px 20px;
  text-align: center;
  color: white;
  font-family: "Kanit";
}

.container button {
  padding: 10px 20px;
  border-radius: 10px;
}
