.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.container h1 {
  font-family: "Nabla";
  font-size: 60px;
}

.container p {
  font-size: 14x;
  margin: 10px 20px;
  text-align: center;
  color: white;
  font-family: "Kanit";
}

.container button a {
  padding: 10px 20px;
  border-radius: 10px;
}

.container button:hover {
  opacity: 0.8;
}

@media only screen and (min-width: 768px) {
  .container img {
    width: 250%;
  }
  .container h1 {
    font-size: 80px;
  }
  .container p {
    font-size: 20px;
  }
  .container button a {
    font-size: 20px;
  }
}
